.dailyWeather {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 30vw;
    align-items: center;
    background-color: rgba(39, 39, 39, 0.4);
    border-radius: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.dailyWeather img {
    height: 5vh;
}

/* Göm scrollbaren för WebKit-baserade webbläsare */
.dailyWeather::-webkit-scrollbar{
    display: none;
}

.dailyWeather .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 2vw;
    border-bottom: grey solid 1px;
}
.dailyWeather h4 {
    font-weight: lighter;
}

@media (max-width: 878px) {
    .dailyWeather {
        flex-direction: column;
        width: 43.5vw;
        height: 50%;
    }

}
