.curr_weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(39, 39, 39, 0.4);
    border-radius: 10px;
    padding: 2vw;
    width: 30vw;
    height: 100%;

}

.curr_weather img {
    height: 12vh;
    animation: zoomInOut 4s infinite;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@media (max-width: 878px) {
    .curr_weather {
        flex-direction: column;
        width: 100%;
        height: 45%;
    }
    .curr_weather p{
        font-size: 0.75rem;
    }
    .curr_weather h1{
        font-size: 1.5rem;
    }
    .curr_weather h3{
        font-size: 1rem;
    }
    .curr_weather img {
        height: 8vh;

    }
}
