.hum_win {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(39, 39, 39, 0.4);
    border-radius: 10px;
    padding: 4vw;
    width: 30vw;
    gap: 2vh;
}

.hum_win img {
    height: 1rem;
}
.hum_win h4 {
    font-size: 1.5rem;
    font-weight: lighter;
}

@media (max-width: 878px) {
    .hum_win {
        flex-direction: column;
        width: 43.5vw;
        height: 50%;
    }

    .hum_win h4 {
        font-size: 1rem;
    }
}