.weather {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color : white;

}


.searchbar{
    display: flex;
    align-items: center;
    width: 50vw;
    margin-left: 4vw;
    margin-top: 2vh;
    gap: 1vw;
}
.searchbar input {
    padding: 5px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
}
.searchbar img {
    height: 30px;
    background-color: rgba(204, 204, 204, 0.4);
    border-radius: 10px;
    padding: 5px;
}
.searchbar img:hover {
    background-color: lightslategrey;
}
.topbar {
    display: flex;
    height: 50vh;
    flex-direction: row;
    gap: 5vw;
    margin: 4vw;
}
