.weather {
    display: flex;
    flex-direction: column;
    height: 99vh;
    width: 100vw;
    background: darkgrey;
    border: 5px solid black;
}
.searchbar{
    display: flex;
    align-items: center;
    gap: 1vh;
    padding: 1vh;
    width: 50vw;
}
.searchbar input {
    padding: 1vh;
    height: 4vh;
    width: 15vw;
    border: 3px solid #ccc;
    border-radius: 7px;
    font-size: 1vh;
}
.searchbar img {
    height: 4vh;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
}
.searchbar img:hover {
    background-color: lightslategrey;
}
.topbar {
    display: flex;
    height: 70vh;
    flex-direction: row;
    gap: 1vh;
    padding: 1vh;
}
