*{
    font-family: "Roboto", sans-serif;
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}